<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="nueva-operacion-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `nueva-operacion-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NuevaOperacionComponent extends Polymer.Element {
      static get is() { return 'nueva-operacion-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'nueva-operacion-component'
          }
        };
      }
    }

    window.customElements.define(NuevaOperacionComponent.is, NuevaOperacionComponent);
  </script>
</dom-module>
