<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="nueva-operacion-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        width: 50%;
        margin: 0 auto;
        padding: 10px;  
        background: #ffff;
        color: gray;
      }

      .title {
        text-align: center;
      }

      .row {
        display: inline-block;
        width: 100%;
        padding: 10px;
      }

      .col-1{
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      .div-label{
        display:inline-block;
        width:50%;
        margin-bottom: 10px; 
        text-align: left;
      }

      .div-text{
        display:inline-block; 
        width: 50%; 
      }

      .txt-box-small{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 10px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 80%;
        text-align: center;
      }

      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      .btn-2{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 5px;
        color: #08948e;
        font-size: 14px;
        padding: 0.4em 0.1em;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        text-align: center;
      }

      .btn-2:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      table{
        width: 100%; 
        margin-top: 10px; 
        border-collapse: collapse; 
        border: 1px solid #444;
      } 

      th {
        background-color: #08948e;
        color: #f1f1f1;
        padding: 15px;
      }

      td, th{
        border: 1px solid rgba(228, 228, 228, 0.904);
      }

      td{
        padding: 10px;
      }
    </style>
    <!--Start My Component-->
    <div class="container">

      <h2 class="title">Nueva Operación</h2>
      <hr>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">No. Empleado:</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Nombre:</label>
          </div>
  
          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Apellido Paterno:</label>
          </div>
  
          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Apellido Materno:</label>
          </div>
    
          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-text">
              <a href="#" class="btn">Buscar</a>
          </div>
        </div>
      </div>

      <div class="row">
        <table>
          <thead>
            <tr>
              <th>No. Empleado</th>
              <th>Nombre del Recurso</th>
              <th>Estatus</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#01</td>
              <td>Luis Miguel Garcia Zacarias</td>
              <td>Activo</td>
              <td><a href="" class="btn-2">Editar</a></td>
            </tr>

            <tr style="background: lightgray;">
              <td>#02</td>
              <td>Jose Antonio</td>
              <td>Baja</td>
              <td><a href="" class="btn-2">Editar</a></td>
            </tr>

            <tr>
              <td>#03</td>
              <td>Manuel Carrera</td>
              <td>Activo</td>
              <td><a href="" class="btn-2">Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `nueva-operacion-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NuevaOperacionComponent extends Polymer.Element {
      static get is() { return 'nueva-operacion-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'nueva-operacion-component'
          }
        };
      }
    }

    window.customElements.define(NuevaOperacionComponent.is, NuevaOperacionComponent);
  </script>
</dom-module>
